PORT=8080
# APP_ENV accpets value 'production' or 'development'
APP_ENV=development

# postgres configuration 
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
# DB_SSLMODE accepts value 'require' or 'disable'
DB_SSLMODE=disable

# CORS Configuration
# ALLOWED_ORIGINS=https://yourapp.com,http://localhost:4200

# JWT Configuration
JWT_ISSUER=go-rest-api-advanced
JWT_ACCESS_SECRET=EtSC4iwC/7iAzexv1ExrHvxPqKWRODPiaUj1ZjM1cx6VCcA1VTN/Cw6gV7sZTtQ1
JWT_REFRESH_SECRET=lHTyK1Thg6swAlSPcXxa9I3eJvnyLgIKXQU8CzSo+grTmM4omLEdhKepz+oUVb3j
# provide time duration in 600s, 15m or 168h; error: 7d
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=168h